body{
  background-color: #e1e1e1;
  #app{
    .card{
      margin-top: 15px;
    }
    #capture-qr{
      margin-top: .5rem;
    }
    video{
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      height: 50%;
    }
  }
}